.circle-progress-appear {
  width: 100%;
  opacity: 0.01;
  display: flex;
  justify-content: center;
}
.circle-progress-appear-active {
  opacity: 1;
  display: flex;
  transition: opacity 300ms ease-in;
  justify-content: center;
  width: 100%;
}
.circle-progress-enter {
  opacity: 0.01;
  display: flex;
  justify-content: center;
  width: 100%;
}
.circle-progress-enter-active {
  opacity: 1;
  display: flex;
  transition: opacity 300ms ease-in;
  justify-content: center;
  width: 100%;
}
.circle-progress-enter-done {
  display: flex;
  justify-content: center;
  width: 100%;
}

.circle-progress-exit {
  opacity: 1;
  display: flex;
  justify-content: center;
}
.circle-progress-exit-active {
  opacity: 0.01;
  display: flex;
  justify-content: center;
  transition: opacity 300ms ease-in;
}

.linear {
  padding-top: 40px;
  width: 60%;
  margin-left: 5%;
  display: flex;
  position: relative;
}

.linear-progress-enter {
  display: none;
}

.linear-progress-exit {
  display: none;
}